@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'EastSyriacAdiabene';
	src: local('East Syriac Adiabene');
	src: url('./syrcomadiabene.eot');
	src: url('./syrcomadiabene.eot?#iefix') format('embedded-opentype'), url('./syrcomadiabene.woff') format('woff'), url('./syrcomadiabene.ttf') format('truetype'), url('./syrcomadiabene.svg#syrcomadiabene') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EastSyriacCtesiphon';
	src: local('East Syriac Ctesiphon');
	src: url('./syrcomctesiphon.eot');
	src: url('./syrcomctesiphon.eot?#iefix') format('embedded-opentype'), url('./syrcomctesiphon.woff') format('woff'), url('./syrcomctesiphon.ttf') format('truetype'), url('./syrcomctesiphon.svg#syrcomctesiphon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EstrangeloEdessa';
	src: local('Estrangelo Edessa');
	src: url('./syrcomedessa.eot');
	src: url('./syrcomedessa.eot?#iefix') format('embedded-opentype'), url('./syrcomedessa.woff') format('woff'), url('./syrcomedessa.ttf') format('truetype'), url('./syrcomedessa.svg#syrcomedessa') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EstrangeloAntioch';
	src: local('Estrangelo Antioch');
	src: url('./syrcomantioch.eot');
	src: url('./syrcomantioch.eot?#iefix') format('embedded-opentype'), url('./syrcomantioch.woff') format('woff'), url('./syrcomantioch.ttf') format('truetype'), url('./syrcomantioch.svg#syrcomantioch') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SertoBatnan';
	src: local('Serto Batnan');
	src: url('./syrcombatnan.eot');
	src: url('./syrcombatnan.eot?#iefix') format('embedded-opentype'), url('./syrcombatnan.woff') format('woff'), url('./syrcombatnan.ttf') format('truetype'), url('./syrcombatnan.svg#syrcombatnan') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SertoBatnan';
	src: local('Serto Batnan Bold');
	src: url('./syrcombatnanbold.eot');
	src: url('./syrcombatnanbold.eot?#iefix') format('embedded-opentype'), url('./syrcombatnanbold.woff') format('woff'), url('./syrcombatnanbold.ttf') format('truetype'), url('./syrcombatnanbold.svg#syrcombatnanbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SertoJerusalem';
	src: local('Serto Jerusalem');
	src: url('./syrcomjerusalem.eot');
	src: url('./syrcomjerusalem.eot?#iefix') format('embedded-opentype'), url('./syrcomjerusalem.woff') format('woff'), url('./syrcomjerusalem.ttf') format('truetype'), url('./syrcomjerusalem.svg#syrcomjerusalem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SertoJerusalem';
	src: local('Serto Jerusalem Bold');
	src: url('./syrcomjerusalembold.eot');
	src: url('./syrcomjerusalembold.eot?#iefix') format('embedded-opentype'), url('./syrcomjerusalembold.woff') format('woff'), url('./syrcomjerusalembold.ttf') format('truetype'), url('./syrcomjerusalembold.svg#syrcomjerusalembold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SertoJerusalem';
	src: local('Serto Jerusalem Italic');
	src: url('./syrcomjerusalemitalic.eot');
	src: url('./syrcomjerusalemitalic.eot?#iefix') format('embedded-opentype'), url('./syrcomjerusalemitalic.woff') format('woff'), url('./syrcomjerusalemitalic.ttf') format('truetype'), url('./syrcomjerusalemitalic.svg#syrcomjerusalemitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SertoKharput';
	src: local('Serto Kharput');
	src: url('./syrcomkharput.eot');
	src: url('./syrcomkharput.eot?#iefix') format('embedded-opentype'), url('./syrcomkharput.woff') format('woff'), url('./syrcomkharput.ttf') format('truetype'), url('./syrcomkharput.svg#syrcomkharput') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SertoMalankara';
	src: local('Serto Malankara');
	src: url('./syrcommalankara.eot');
	src: url('./syrcommalankara.eot?#iefix') format('embedded-opentype'), url('./syrcommalankara.woff') format('woff'), url('./syrcommalankara.ttf') format('truetype'), url('./syrcommalankara.svg#syrcommalankara') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SertoMardin';
	src: local('Serto Mardin');
	src: url('./syrcommardin.eot');
	src: url('./syrcommardin.eot?#iefix') format('embedded-opentype'), url('./syrcommardin.woff') format('woff'), url('./syrcommardin.ttf') format('truetype'), url('./syrcommardin.svg#syrcommardin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SertoMardin';
	src: local('Serto Mardin Bold');
	src: url('./syrcommardinbold.eot');
	src: url('./syrcommardinbold.eot?#iefix') format('embedded-opentype'), url('./syrcommardinbold.woff') format('woff'), url('./syrcommardinbold.ttf') format('truetype'), url('./syrcommardinbold.svg#syrcommardinbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'EstrangeloMidyat';
	src: local('Estrangelo Midyat');
	src: url('./syrcommidyat.eot');
	src: url('./syrcommidyat.eot?#iefix') format('embedded-opentype'), url('./syrcommidyat.woff') format('woff'), url('./syrcommidyat.ttf') format('truetype'), url('./syrcommidyat.svg#syrcommidyat') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EstrangeloNisibin';
	src: local('Estrangelo Nisibin');
	src: url('./syrcomnisibin.eot');
	src: url('./syrcomnisibin.eot?#iefix') format('embedded-opentype'), url('./syrcomnisibin.woff') format('woff'), url('./syrcomnisibin.ttf') format('truetype'), url('./syrcomnisibin.svg#syrcomnisibin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EstrangeloQuenneshrin';
	src: local('Estrangelo Quenneshrin');
	src: url('./syrcomqenneshrin.eot');
	src: url('./syrcomqenneshrin.eot?#iefix') format('embedded-opentype'), url('./syrcomqenneshrin.woff') format('woff'), url('./syrcomqenneshrin.ttf') format('truetype'), url('./syrcomqenneshrin.svg#syrcomqenneshrin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EstrangeloTalada';
	src: local('Estrangelo Talada');
	src: url('./syrcomtalada.eot');
	src: url('./syrcomtalada.eot?#iefix') format('embedded-opentype'), url('./syrcomtalada.woff') format('woff'), url('./syrcomtalada.ttf') format('truetype'), url('./syrcomtalada.svg#syrcomtalada') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EstrangeloTurAbdin';
	src: local('Estrangelo TurAbdin');
	src: url('./syrcomturabdin.eot');
	src: url('./syrcomturabdin.eot?#iefix') format('embedded-opentype'), url('./syrcomturabdin.woff') format('woff'), url('./syrcomturabdin.ttf') format('truetype'), url('./syrcomturabdin.svg#syrcomturabdin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SertoUrhoy';
	src: local('Serto Urhoy');
	src: url('./syrcomurhoy.eot');
	src: url('./syrcomurhoy.eot?#iefix') format('embedded-opentype'), url('./syrcomurhoy.woff') format('woff'), url('./syrcomurhoy.ttf') format('truetype'), url('./syrcomurhoy.svg#syrcomurhoy') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SertoUrhoy';
	src: local('Serto Urhoy Bold');
	src: url('./syrcomurhoybold.eot');
	src: url('./syrcomurhoybold.eot?#iefix') format('embedded-opentype'), url('./syrcomurhoybold.woff') format('woff'), url('./syrcomurhoybold.ttf') format('truetype'), url('./syrcomurhoybold.svg#syrcomurhoybold') format('svg');
	font-weight: bold;
	font-style: normal;
}
